@import "./resetstyle.css";
@import "./root.css";

body {
    padding: 0px;
    margin: 0px;

    width: auto;

    font-family: var(--Roboto-font);

}


header {
    background-color: none;
    border: none;

    width: auto;

}

.header-menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: rgba(0, 0, 0, 0.1);
    color: #fff;

    border: none;

    padding-block-start: 50px;
    padding-inline: 0px;

    width: 100%;

    z-index: 1;

}

.header-menu-btn {
    background: none;


}
.open-menu-btn {
    background: transparent;
    border: none;
    font-size: 32px;
    --ionicon-stroke-width: 50px;

}

.header-menu > figure svg{
    width: 130px;
    background-color: none;



}

.logo-anchor {
    text-decoration: none;
    color: inherit;
    
}

.logo-anchor:visited {
    color: inherit;

}



.header-btns {
    display: flex;
    flex-direction: row;

    background: none;

}



.btns-redes-sociais {
    display: flex;
    background: none;

}

:is(.logo-x-btn, .logo-facebook-btn, .logo-instagram-btn, .search-btn) {
    font-size: 19px;
    --ionicon-stroke-width: 60px;

    color: inherit;

}

.logo-x-btn {
    background: transparent;
    
    margin-inline: 2px;

    text-decoration: none;

}

.logo-x-btn:visited {
    color: inherit;

}

.logo-facebook-btn {
    background: transparent;

    margin-inline: 2px;

    text-decoration: none;

}

.logo-facebook-btn:visited {
    color: inherit;

}

.logo-instagram-btn {
    background: transparent;

    margin-inline: 2px;

    text-decoration: none;

}

.logo-instagram-btn:visited {
    color: inherit;

}

.search-btn {
    background: transparent;

    margin-inline-start: 10px;

    text-decoration: none;

}

.search-btn:visited {
    color: inherit;

}

.header-banner {
    position: relative;
    overflow: hidden;

    z-index: -1;

    height: 490px;

}

.header-banner > figure img {
    position: relative;


    width: 100%;


    padding: 0;
    margin: 0;
    
}

/*
.header-banner > figure img {
    transform-origin: 80% 50%;
    transform: rotate(-90deg);

    width: 50vw;

    position: relative;
    
}
*/



/*  
Movie Section 

*/

.movie-section {
    display: flex;
    flex-direction: column;

    background: seagreen;

    margin-inline: 100px;


}

.nomear1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: darkorange;

}

.movie-title {
    background: goldenrod;
    font-size: 50px;

}

.movie-title-year {
    font-size: 15px;

}


.nomear2 {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;


}

